/* EDUCATION */

#education {
  height: 100vh;
}

.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  display: flex;
  align-items: center;
  margin: 4% 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card-product:hover {
  transform: scale(1.03);
  transition: ease 0.5s;
/*  background-color: #D2F4F4;*/
}

.card-product img {
  height: 100%;
  width: 150px;
  margin-left: 10px;
  object-fit: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product h2 {

}
